*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: auto;
    background-image: url(/img/playStation/ps.jpg);
    background-size: 100%;
    position: relative;
}

.Main-width{
    width: 70%;
    max-width: 95%;
    margin: auto;
}
.nav{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* background-color: #02375c; */
    background: rgb(23,26,33);
    background: radial-gradient(circle, rgba(23,26,33,1) 62%, rgba(51,108,157,1) 100%);

}

.nav header .logo h2 a{
    display: block;
    font-size: 35px;
    font-weight: 450;
    text-decoration: none;
    color: white;
    text-align: center;
}

.nav header .logo h2 a:hover,
.nav header .logo h2 a:focus{
    border-bottom: 2px solid white;
}

.nav header .logo h2 a img{
    margin-right: 5px;
}

.nav header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}

.footer{
    background-color: #111;
    height: auto;
    width: 100vw;
}

.footer-content{
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h2{
    margin-top: 1%;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    justify-content: center;
}

.socials li{
    margin: 0 10px ;
}

.socials a{
    text-decoration: none;
    color: white;
}

.socials a i{
    font-size: 1.1rem;
}




